*{
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main{
    background-image: url("../images/books.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#list{
    font-size: 1.5em;
    border: solid 3px;
    border-color: rgb(114, 62, 3);
    border-radius: 10px;
}
#listGrid{
    padding: 10px;
}
#listport{
    border-radius: 10px;
    background-image: linear-gradient(to right,rgba(212, 181, 43, 0.473),rgba(240, 3, 3, 0.493));
    border: solid 3px;
    border-color: rgb(114, 62, 3);
    color: rgb(92, 2, 2);
}
#side{
    border-radius: 10px;
    background-image: linear-gradient(to right,rgba(212, 181, 43, 0.205),rgba(248, 41, 41, 0.384));
    border: solid 3px;
    border-color: rgb(114, 20, 3);
}
#emp,#top{
    padding: 10px;
    margin: 0;
    border: solid 3px;
    border-color: rgba(114, 34, 3, 0.329);
    background-color: rgba(167, 121, 103, 0.171);
}